extends layout

block content
    list=messages
    table
        tr(class='trHeader')
            th user
            th message
            each element in list.l
                tr(class='trData')
                    td= element.user
                    td= element.message
    div
        h1=header

        