extends layout

block content
    div
        h1 Vælg brugernavn:

        form(action="/login", method="post")
            div
                input#username(type="text" name="username" placeholder="username" required)
            div
                button#btn-login(type="submit") vælg brugernavn